@import "./normalize.css";

/*the root element, normal as html*/
:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    /*tintcolor the groudcolor , the zhusediao*/
    --color-tint: #ff8198;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}




